html {
    font-size: 18px;
  }
.container {
  border: 2px solid blue;
  padding: 10px;
  margin: 10px auto;
}
.color-container{
  width: 100%;
}
.color-block{
    display: inline-block;
    width: 33%;
    text-align: center;
    margin: 20px auto;
    min-height: 100px;
}
